@model IAsyncEnumerable<budget_monitor_app.Models.Category>
@{
    ViewData["PageTitle"] = "Category";
    ViewData["PageActionText"] = "+ New Category";
    ViewData["PageActionUrl"] = "/Category/AddOrEdit";
}

<div class="row">
    <div class="col-md-7">
        <ejs-gird id="categories" dataSource="@Model" gridLines="None" allowSorting="True" allowPaging="true">
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
                <e-grid-column headerText ="Category" field ="TitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="150px"></e-grid-column>
                <e-grid-column headerText="Action" template="#actionColumnTemplate" widht="100px"></e-grid-column>
        </ejs-gird>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"
        </div>
    </div>
</div>
